@import "./partials/mixins";




@include encabezados();



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: "bebaskai";
    src: url(../media/fonts/BebasKai.woff2);
}

body{
    font-family: helvetica;
    height: 100vh;
    max-width: 1920px;
}




nav.navbar {
    background-color:#0C274F;
    font-family: bebaskai;
    font-size: 25px;
    :hover{
        color: rgb(255, 175, 175);
    }

    img {
        width: 50px;
        background: radial-gradient(white 45%, #0C274F);
        border-radius:100%;
        padding: 2px;
    }

    a {
        color: whitesmoke;
        margin: 0 10px;
    }

    .dropdown-menu {
        color: whitesmoke;
        background-color: #123975;
        :hover{
            background-color: #15458e;
        }
    }
}


.cabecera_index{
    display: flex;
    justify-content: center;
    align-items: center;

    .carrusel_index{
        position: relative;
        margin: 0;
        width: 100%;
        max-height: auto;
    }
    
    h1{
        position: absolute;
        text-shadow: 4px 4px 2px #15458e;
    }
}

main.cuerpo_pagina{
    background-color: #174C9C;
    color: white;
}

.descripcion_index{
    margin: 15px;
    padding: 30px;
    
    .contenedor_descripcion_index{
        margin: 60px 0;
    }
}





.contenedor_contadores{
    
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 40px 0;
    color: black;
    .contador{ 
        width: 250px;
        height: auto;
        border-radius: 30px;
        background-color: white;
        box-shadow: 0 0 10px 1px black;
        font-family: bebaskai;
        margin: 10px 40px;
        padding: 15px;
        h3{
            color: rgb(0, 0, 0);
            font-size: 80px;
        }
        span{
            font-size: 20px;
        }
    }

}


.pie_pagina {
    background-color: #0C274F;
    font-family: bebaskai;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    align-content: center;
    color: whitesmoke;
    

    .col {
        align-self: center;
        margin: 10px 0;
    }

    li {
        list-style: none;
    }

    a {
        img {
            width: 30px;
            margin: 10px 10px;
        }

    }

    p {
        margin-top: 15px;
    }
}



.servicio_urgencias_index{
    margin: 15px;
    padding: 30px;
    border-radius: 0px 30px 0 30px;
    background: linear-gradient(to right, #E14C40, #381210);

    .titulo_urgencias{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        img{
            width: 50px;
            height: 50px;
        }
        h3{
            font-size: 50px;
        }
    }
}


.tapamarcas {
    display: flex;
    position: relative;
    background: #174C9C;
    width: 100%;
    height: 40px;
    bottom: 30px;
}










@media screen and (max-width: 390px) {

    .cabecera_index{
        h1{
            font-size: 40px;
        }
    }




    .contenedor_contadores{
    
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin: 40px 0;
        .contador{ 
            width: 250px;
            height: auto;
            border-radius: 30px;
            background-color: white;
            box-shadow: 0 0 10px 1px black;
            font-family: bebaskai;
            margin: 10px 40px;
            padding: 15px;
            h3{
                font-size: 80px;
            }
            span{
                font-size: 20px;
            }
        }
    
    }

    .tapamarcas {
        width: 100%;
        height: 40px;
        bottom: 30px;
    }

}


@media screen and (min-width: 391px) and (max-width: 768px) {
    .cabecera_index{
        h1{
            font-size: 40px;
        }
    }




    .contenedor_contadores{
    
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin: 40px 0;
        .contador{ 
            width: 250px;
            height: auto;
            border-radius: 30px;
            background-color: white;
            box-shadow: 0 0 10px 1px black;
            font-family: bebaskai;
            margin: 10px 40px;
            padding: 15px;
    
            h3{
                font-size: 80px;
            }
            span{
                font-size: 20px;
            }
        }
    
    }

    .tapamarcas {
        width: 100%;
        height: 40px;
        bottom: 35px;
    }

}